// Style description	: Variables for the styling
// Style author			: Marc Andrew San Buenaventra
// Created date			: 12.02.2015

///////////////////////////////////////////////////////////////////////////////////////////////////
// Set the box sizing to border box. Options: true or false
///////////////////////////////////////////////////////////////////////////////////////////////////

$border-box									: true;

///////////////////////////////////////////////////////////////////////////////////////////////////
// EM, REM or PX option
///////////////////////////////////////////////////////////////////////////////////////////////////

$unit										: px;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Paragraph settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$baseline-px								: 16;

$family-1									: 'FuturaBT-Light', Verdana, Arial, sans-serif;
$family-2									: 'FuturaStd-Medium', Verdana, Arial, sans-serif;

$size-base									: unit($baseline-px);
$size-1										: unit(14);
$size-2										: unit(18);
$size-3										: unit(24);
$size-4										: unit(30);
$size-5										: unit(36);
$size-6										: unit(40);
$size-7										: unit(48);
$size-8										: unit(63);
$size-9										: unit(90);
$size-10									: unit(106);

///////////////////////////////////////////////////////////////////////////////////////////////////
// Container settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$full-width									: 100%;
$max-width									: unit(1200);

///////////////////////////////////////////////////////////////////////////////////////////////////
// Color settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$base-color									: #393939;
$brand-color								: #FFF16E;
$tertiary-color								: #707070;

$bg-1										: $base-color;
$bg-2										: $brand-color;
$bg-3										: #e9e7e4;
$bg-4										: #c2c2c2;
$bg-light									: #fff;
$bg-dark									: #333;

$color-1									: #000;
$color-2									: #777;
$color-light								: #fff;
$color-dark									: #000;

$border-color-1								: #ddd;
$border-color-2								: $brand-color;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Asset path
///////////////////////////////////////////////////////////////////////////////////////////////////

$image-asset-path							: "/img";
